<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<title>Mining Simulator</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/click.css' %}">
	<script src="{% static 'js/click.js' %}"></script>
	<link rel="shortcut icon" type="image/png" href="{% static 'images/JoCoin_img.png' %}" />
</head>

<body>
	<div id="wrapper">
		<div id="header" >
			<a id="back" href='/'>Go Back</a>
			<form id="cheat_form" action="/change_money_click" method="post">
				{% csrf_token %}
				<input type="number" name="money">
				<input type="submit" value="Change">
			</form>
		</div>
		{% csrf_token %}
		<div id="button_area">
			<button id='clicker'>Mine a Mineral Node</button>
		</div>
		<h1 id="count"></h1>
		<div id="b_buy">
			<div class="building" style="display: none"><button class="building_button" id="buy_bld0" building_id="0" is_bought=0>Mine Harder Per Click I</button></div>
			<div class="building" style="display: none"><button class="building_button" id="buy_bld1" building_id="1" is_bought=0>Mine even HARDER Per Click II</button></div>
			<div class="building" style="display: none"><button class="building_button" id="buy_bld2" building_id="2" is_bought=0>Buy an MN Drill III</button></div>
			<div class="building" style="display: none"><button class="building_button" id="buy_bld3" building_id="3" is_bought=0>Purchase a Mineral Asteroid Field IV</button></div>
			<div class="building" style="display: none"><button class="building_button" id="buy_bld4" building_id="4" is_bought=0>Create a Planetary Mining Satellite V</button></div>
			<div class="building" style="display: none"><button class="building_button" id="buy_bld5" building_id="5" is_bought=0>Create a Planet Devouring Interplanetary Vessel VI</button></div>
		</div>
		<div id="buildings"></div>
	</div>
	<span id="credit">Styled by Jonathan Wright</span>
</body>

</html>